#heading{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 550;
    text-align: center;
    margin-bottom: 30px;

}
#container{
    width: 80%;
    margin:auto;
    border: 1px solid #eeeeee;
    margin-bottom: 50px;
}
#rowhead{
    background-color: #eeeeee;
    height: 50px;
}
#rh1{
    width: 750px;
    text-align: left;
}
#rh2,#rh3{
    width: 221px;
    text-align: center;
}
#name-img{
display: flex;
}
#imgdiv{
    padding: 20px;
}
#proImg{
    width: 100px;
    height: 135px;
}
#info{
    padding: 20px;
}
#size{
    font-size: 18px;
  margin-bottom: 10px;
    font-family:Arial, Helvetica, sans-serif;
    color: #444444;
}
#proName{

    font-family:Arial, Helvetica, sans-serif;
    color: #444444;
    font-weight: 500;
    margin-bottom: 10px;
}
#quantity{
display: flex;
width: 100%;
margin: auto 25%;


}
#dec,#inc{
    height: 30px;
    width: 30px;
    font-size: 25px;
}
#quant{
    line-height: 0px;
   margin-left: 10px;
   margin-right: 10px;
   font-family:Arial, Helvetica, sans-serif;
   color: #444444;
   font-weight: 500;
   font-size: 25px;
   
}
tbody>tr>td{
    border: 1px solid #eeeeee ;
}
tfoot{
    height: 50px;
}
tfoot>tr>td:nth-child(2),tfoot>tr>td:nth-child(3){
text-align: center;
border: 1px solid #eeeeee ;
font-size: 20px;
font-weight: 600;
}
#tprice{
    text-align: center;
    font-size: 18px;
}
#check{
    float: right;
    width: 300px;
    height: 50px;
    background-color: #08b;
    color: white;
    padding: 10px;
    margin: 30px 0px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 20px;
}
#footer12{
    margin-top: 100px;
 
}
