*{
    font-family: 'Montserrat', sans-serif;
    
}
#SignUp_mainDiv{
    /* border: 1px solid red; */
    

    width: 285px;
    margin: auto;
    text-align: center;
    padding: 0px;
    margin-top: 100px;
}
#myform_LogIn{
    /* border: 1px solid blue; */
    font-size: x-small;
    text-align: start;
    /* line-height: 50px; */
}
.SignUp_inputbox{
    border: #f0f0f0 1px solid;
    width: 98%;
    height: 40px;
    margin-left: 0px;
    outline: none;
}
.SignUp_button_submit{
    width: 100%;
    height: 40px;
    color: white;
    background-color: black;
    border-radius: 50px;
    
}
.SignUp_size{
    font-size: xx-small;
    margin-top: 20px;
    font-weight: 400;
}
.SignUp_gapBetweenDiv{
    line-height: 20px;
    margin-bottom: 20px;
}
.lastDivbotGap_SignUp{
    margin-bottom:0px;
}
.eyeDiv_SignUp{
    /* background-color: yellow; */
    border:1px solid #f0f0f0
}
.LogIn_inputboxWitheye{
    width: 85%;
    border: none;
}
.fa-customize{
    margin: 5px;
}
#SignUp_mainDiv label{
    font-weight: 700;
}
.DateMonYear{
    width: 32%;
}